表單系統/ezFlow/Forms/FlowForm/App_WebReferences/JbhrService/JbhrService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://61.222.40.10/ezPortal/Service/JbhrService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://61.222.40.10/ezPortal/Service/JbhrService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetCompanyInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCompanyInfoResult" nillable="true" type="q1:ArrayOfSCompanyInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobLevel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetJobLevelResult" nillable="true" type="q2:ArrayOfSJobLevelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTitleDataResult" nillable="true" type="q3:ArrayOfSTitleDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHRCostCenter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHRCostCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetHRCostCenterResult" nillable="true" type="q4:ArrayOfSHRCostCenterDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDept">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetUserDeptResult" nillable="true" type="q5:ArrayOfSUserDeptDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDepartmentDataResult" nillable="true" type="q6:ArrayOfSDepartmentDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHRUSER_DEPT_BAS_FLOWA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHRUSER_DEPT_BAS_FLOWAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetHRUSER_DEPT_BAS_FLOWAResult" nillable="true" type="q7:ArrayOfSHRUSER_DEPT_BAS_FLOWADto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardWeb">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCardWebResult" nillable="true" type="q8:ArrayOfSCardWebDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHRUSER_DEPT_FLOWA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHRUSER_DEPT_FLOWAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetHRUSER_DEPT_FLOWAResult" nillable="true" type="q9:ArrayOfSUserDeptDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetUserDataResult" nillable="true" type="q10:ArrayOfSUserDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetUserDataByIdResult" nillable="true" type="q11:SUserDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHiredUserData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHiredUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetHiredUserDataResult" nillable="true" type="q12:ArrayOfSUserDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotHiredUserData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotHiredUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetNotHiredUserDataResult" nillable="true" type="q13:ArrayOfSUserDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRotetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRotetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRotetDataResult" nillable="true" type="q14:ArrayOfSRotetDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInRoleHR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Anobr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInRoleHRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsInRoleHRResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Anobr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmpPhotoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetHumanReportResult" nillable="true" type="q15:ArrayOfSHumanReportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResumeStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/Message" name="s" type="q16:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResumeStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportResumeStreamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bArr" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportResumeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>