表單系統/ezFlow/Forms/FlowForm/App_WebReferences/FlowWebServicesOld/Service6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JBModule.Data.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JBModule.Data.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAbsenceDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbsenceDetail" nillable="true" type="tns:AbsenceDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbsenceDetail" nillable="true" type="tns:ArrayOfAbsenceDetail" />
  <xs:complexType name="AbsenceDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Entitled" type="xs:decimal" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HCodeDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nobr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taken" type="xs:decimal" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbsenceDetail" nillable="true" type="tns:AbsenceDetail" />
  <xs:complexType name="ArrayOfAbsenceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbsenceDto" nillable="true" type="tns:AbsenceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbsenceDto" nillable="true" type="tns:ArrayOfAbsenceDto" />
  <xs:complexType name="AbsenceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BeginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HcodeDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nobr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taken" type="xs:decimal" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbsenceDto" nillable="true" type="tns:AbsenceDto" />
</xs:schema>